
@import "functions";
@import "variables";

.elevator_animation{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .line{
        background-repeat: repeat-y;
        background-position-y: 0;
        background-position-x: center;

        animation-name: lineAn;
        animation-iteration-count: infinite;

        transition: $transition-base;
        opacity: 0.5;

        &:hover{
            opacity: 1;
            transform: scale(2);
        }
        
        @keyframes lineAn{
            0%{
                background-position-y: 0;
            }
            90%{
                background-position-y: -100vh;
            }
        }
    }
}

html{
    overflow-x: hidden;
    width: 100vw;
}

body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: $secondary;
    color: $primary;
    position: relative;
    a {
        text-decoration: none !important;
    }

    .loading{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gray-200;
        color: rgba($gray-900, $opacity);
        z-index: 100;
    
        .fa{
          animation-name: loading;
          animation-iteration-count: infinite;
          animation-duration: 1s;
          transform: rotate(0);
          transition: $transition-base;
        }
        
        @keyframes loading{
            from{
            transform: rotate(0);
            }
            to{
            transform: rotate(360deg);
            }
        }

    }

    #root{
        min-height: inherit;
        height: inherit;
        overflow: hidden;

        #app{
            height: inherit;

            #routerContainer{
                height: 100vh;
                .sectionsContainer{
                }
            }
        }
    }
}