
@import "functions";
@import "variables";

 body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: $black;
    color: $gray-200;
    position: relative;
    a {
        text-decoration: none !important;
    }

    .loading{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gray-200;
        color: rgba($gray-900, $opacity);
        z-index: 100;
    
        .fa{
          animation-name: loading;
          animation-iteration-count: infinite;
          animation-duration: 1s;
          transform: rotate(0);
          transition: $transition-base;
        }
        
        @keyframes loading{
            from{
            transform: rotate(0);
            }
            to{
            transform: rotate(360deg);
            }
        }

    }

    #root{
        min-height: inherit;
        height: inherit;
        overflow: hidden;

        #app{
            height: inherit;

            #routerContainer{

                .page{
                    position: relative;
                    height: 100vh;
                    .swiper-container{
                        overflow: hidden;
                        height: 100vh;
                        .swiper-wrapper{
                            .swiper-slide{
                                height: 100vh;
                            }
                        }
                        .swiper-pagination{

                            .swiper-pagination-bullet{
                                border: 1px solid rgba($gray-200, -.2);
                                border-radius: 0;
                                background-color: rgba($gray-200, 0.4);
                                width: 10px;
                                height: 10px;
                                transition: $transition-base;
                                transform: scale(0.8);
                                
                                &-active{
                                    background-color: $gray-200;
                                    transform: scale(1);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}