
@import "functions";
@import "variables";

html{
    overflow-x: hidden;
    width: 100vw;
}
.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $gray-200;
    color: rgba($gray-900, $opacity);
    z-index: 100;

    .fa{
      animation-name: loading;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      transform: rotate(0);
      transition: $transition-base;
    }
    
    @keyframes loading{
        from{
        transform: rotate(0);
        }
        to{
        transform: rotate(360deg);
        }
    }

}

body {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
    background-color: $secondary;
    color: $primary;
    position: relative;
    a {
        text-decoration: none !important;
    }


    #root{
        min-height: inherit;
        height: inherit;
        overflow: hidden;

        #app{
            height: inherit;

            #routerContainer{
                height: 100vh;
                
            }
        }
    }
}